@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --black: hsl(230, 35%, 7%);
    --GreyGreen: hsl(231, 77%, 90%);
    --LightGray: hsl(0, 0%, 59%);
    --NavBg: rgb(151, 151, 151, 0.1);
    --CircleHoover: rgb(151, 151, 151, 0.2);
    --HeaderLine: rgb(151, 151, 151, 0.3);
}
body{
    width: 100%;
    height: 100%;
    color: white;
}
li{
    list-style-type: none;
}
a{
    font-weight: 200;
    color: white;
    text-decoration: none;
}
.flex{
    display: flex;
}
.hidden{
    display: none;
}
.text-black{
    color: black;
}
/* Responsive Backgrounds:  */
.home-bg{
    background-image: url('../assets/home/background-home-desktop.jpg');
    background-size: cover;
    min-height: 100%;
}

/*! styling the header as its same for every file:  */
.logoWrapper{
    background-color: white;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 3.5rem 55px;
}
.headerLine{
    position: relative;
    color: var(--LightGray);
    border-bottom: 1px solid var(--HeaderLine);
    height: 1px;
    width: 37%;
    margin: 5.25rem 0;
    z-index: 1;
}
.navItems li{
    cursor: pointer;
    gap: 0.5rem;
}
/* !This makes the current page nav item active:  */
.navItems{
    position: absolute;
    right: 0%;
    background-color: var(--NavBg);
    color: white;
    backdrop-filter: blur(0.7rem);
    -webkit-backdrop-filter: blur(0.7rem);
    justify-content: center;
    align-items: center;
    gap: 5rem;
    min-height: 6rem;
    width: 58%;
    /* width: clamp(56rem, 56rem, 26rem); */
    margin: 2rem 0;
    font-size: 16px;
    font-family: 'Barlow Condensed', serif;
    letter-spacing: 2.7px;
    z-index: 0;
    text-transform: uppercase;

}

.navItems p{
    list-style-type: none;
    font-weight: bold;
}
.active{
    line-height: 6rem;
    padding-top: 5px;
    border-bottom: 2px solid white;
}
.navItems .hover:hover{
    line-height: 6rem;
    border-bottom: 2px solid rgb(255, 255, 255,0.5);
    
}

/* *Classes for font styling:  */
/* .font-bellefair{
    font-family: 'Bellefair', serif;
}
.font-barlow{
    font-family: 'Barlow Condensed', sans-serif;
} */
h1{
    font-size: 150px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;

}
h2{
    font-size: 100px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    text-transform: uppercase;

}
h3{
    font-size: 56px;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;

}
h4{
    font-size: 32px;
    font-weight: 100;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;

}
h5{
    font-size: 28px;
    letter-spacing: 4.75px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;

}
.subH1{
    font-size: 28px;
    font-family: 'Bellefair', serif;
    text-transform: uppercase;

}
.subH2{
    font-size: 14px;
    letter-spacing: 2.35px;
    font-family: 'Barlow Condensed', serif;
    text-transform: uppercase;

}
.BodyText{
    text-align: center;
    font-size: 18px;
    font-family: 'Barlow Condensed', serif;
    color: var(--LightGray);
    
}


/* *Header responsiveness : */
@media only screen and (width<=900px) {
    
    .headerLine{
        display: none;
    }
    .logoWrapper{
        margin: 2rem 1rem;
    }
    .navItems{
        /* position: static; */
        right: 0;
        margin: 0rem;
        gap: 2rem;
        width: 55%;
    }
    .navItems li p{
        display: none;
    }
}


@media only screen and (width<=600px) {
    
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }
    .logoWrapper{
        margin: 0.8rem;
    }
    /* .logoWrapper svg{
        width: 1.5rem;
        height: 1.5rem;
    } */
    .hamMenuWrapper{
        display: flex;
        justify-content: flex-end;
        margin: 1.5rem 0.5rem 3.5rem 1.5rem;
    }
    .active{
        border: none;
        line-height: normal;
    }
    .headerLine{
        display: none;
    }
    .navItems{
        justify-content: flex-start;
        text-align: left;
        flex-direction: column;
        font-size: 1rem;
        gap: 2rem;
        inset: 0;
        left: 30%;
        width: 70%;
        height: 100%;
        z-index: 2;
        backdrop-filter: blur(2.5rem);
        -webkit-backdrop-filter: blur(2.5rem);
        display: none;

    }
    .hamburger-close-wrapper{
        z-index: 3;
        position: relative;
        right: -23vw;
        display: block !important;
        margin: 1.5rem;
        
    }

}