.TechBg{
    background-image: url(../assets/technology/background-technology-desktop.jpg);
    background-size: cover;
}
.HeadingWrapper{
    margin: 1.5rem 12rem;
}
.HeadingWrapper span{
    color: rgb(255, 255, 255,0.5);
    padding-right: 0.5rem;
}
.RoundNums{
    flex-direction: column;
    gap: 1.75rem;
    margin: 4rem 12rem;
    margin-right: 4rem;
}
.RoundNums a{
    width: 4rem;
    aspect-ratio: 1 / 1;
    border: 2px solid rgb(255, 255, 255,0.15);
    border-radius: 50%;
    transition: all 500ms;
}
.RoundNums p{
    text-align: center;
    line-height: 4rem;
}
.BorderEffect:hover{
    border: 2px solid rgba(255, 255, 255, 0.814);
    border-radius: 50%;
}
.WhiteEffect{
    color: black;
    background-color: white;
}
.textContainer{
    flex-direction: column;
    gap: 1rem;
    margin: 4rem 0;
    /* border: 1px solid rebeccapurple; */
}
.subH2{
    color: rgba(255, 255, 255, 0.353);
}
.BodyText{
    width: 65%;
    line-height: 1.75rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
.ImgTextWrapper{
    height: max-content;
    /* border: 1px solid red; */
}
.imgWrapper{
    position: relative;
    bottom: 8vh;
    /* margin: 2rem 0; */
}
.imgWrapper img{
    width: 33vw;
    filter: saturate(4);
}





@media only screen and (width<=900px) {
    .TechBg{
        background-image: url(../assets/technology/background-technology-tablet.jpg);
        background-size: cover;
    }
    /* .hidden{
        display: none;
    } */
    .HeadingWrapper {
        margin: 1.5rem 2rem;
    }
    .ImgTextWrapper{
        flex-direction: column-reverse;
    }
    .RoundNums{
        margin: 3rem 0 0 0;
        
        flex-direction: row;
        line-height: normal;
        justify-content: center;
    }
    .textWrapper{
        flex-direction: column;
    }
    .textContainer{
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .RoundNums a{
        height: 4rem;
    }
    .imgWrapper{
        flex-direction: column;
        bottom: -2vh;
    }
    .imgWrapper img:first-child{
        display: none;
    }
    .imgWrapper img:nth-child(2){
        display: inline !important;
        width: 100vw;
    }
    .subH2{
        font-size: 17px;
    }
    h3{
        font-size: 40px;
    }
    h5{
        font-size: 1.5rem;
    }
    .BodyText{
        width: 65%;
    }
}
@media only screen and (width<=450px) {
    .TechBg{
        width: 100vw;
        background-image: url(../assets/technology/background-technology-mobile.jpg);
        background-size: cover;
    }
    .RoundNums a{
        width: 3rem;
        height: 3rem;
    }
    .RoundNums p{
        line-height: 3rem;
        font-size: 1.25rem;
    }
    h3{
        font-size: 30px;
    }
    h5{
        font-size: 1.25rem;
    }
    .textContainer{
        gap:1rem;
        margin: 2rem 0;
    }
    .BodyText{
        width: 85%;
        font-size: 14px;
    }

}