@import url("..\Shared Files\utilities.css");
.textWrapper{
    flex-direction: column;
    color: white;
    width: 28rem;
    height: 22rem;
    margin: 5rem 8rem;
    gap: 2rem;
}
.subH1{
    letter-spacing: 4.72px;
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.775);
    
}
.BodyText{
    /* width: 80%; */
    line-height: 32px;
}

.circleWrap{
    position: relative;
    left: 7rem;
    top: 6rem;
    justify-content: center;
    align-items: center;
    height: 28.125rem;
    width: 28.125rem;
    border-radius: 100%;
    
}
.circle{
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    height: 17.125rem;
    width: 17.125rem;
    border-radius: 100%;
    z-index: 1;
}
.HoverCircle{
    position: absolute;
    height: 28.125rem;
    width: 28.125rem;
    border-radius: 100%;
    animation: CircleAnimation 4s ease-in-out forwards;
}

@keyframes CircleAnimation {
    0%{opacity: 0;}
    20%{opacity: 0;}
    40%{opacity: 0.25;}
    60%{opacity: 0.5;}
    80%{opacity: 0.75;}
    100%{opacity: 1;}
}

.circle:hover ~ .HoverCircle{
    background: var(--CircleHoover);
}

@media only screen and (width<=900px) {
    .home-bg{
        background-image: url('../assets/home/background-home-tablet.jpg');
        background-size: cover;
        overflow: hidden;

    }
    main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .circleWrap{
        position: static;
    }
}
@media only screen and (width<=600px) {
    .home-bg{
        background-image: url('../assets/home/background-home-mobile.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
    .textWrapper{
        gap: 1rem;
        margin: auto;
        justify-content: center;
        align-items: center;
        width: 22rem;
    }
    h1{
        font-size: 5rem;
    }
    .subH1{
        font-size: 0.8rem;
        letter-spacing: 2.7px;
    }
    .BodyText{
        line-height: 28px;
        color: var(--GreyGreen);
        padding: 0 1.5rem;
        text-align: center;
        font-size: 1rem;
    }
    .HoverCircle{
        display: none;
    }
    .circle{
        height: 10rem;
        width: 10rem;
    }
    .circleWrap{
        align-items: unset;
        height: 10rem;
        width: 10rem;
        margin: -1rem 0;
    }
    .circle h4{
        font-size: 20px;
    }
}


